:root {
  --main-font-family: "Major Mono Display", monospace;
  /* --main-font-family: "Libre Barcode 39", monospace; */
  /* --main-font-family: "VT323", monospace; */
  /* --main-font-family: "Space Mono", monospace; */
}

:root {
  --glow-color: red;
}

body {
  background: #333;
  background-color: #f8f1eb;
  font-family: var(--main-font-family);

}

.splash-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%
}

.splash-box img {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 230px;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 30px; */
}

.input-field {
  margin: -8% auto 0;
  width: 150px;
  height: 70px;
  font-size: 1.5em;
  border: 2px solid #808081;
  border-radius: 30px;
  padding: 20px;
  background-color: #f8f1eb;
  color: #808081;
  text-align:center;
}

.inputSubmit {
  width: 150px;
  font-size: 1em;
  margin: 10px auto 0;
  border-radius: 30px;
  color: #808081;
  background-color: #f98f39;
  box-shadow: 0 8px 16px -3px black;
}

.img-glow {
  animation: glowing 3000ms infinite alternate;
}

#hal {
  width: 100px;
  margin: 30px auto 0;
  z-index: 100;

  top: calc(50% - 20px);
  left: calc(50% - 20px);
  /* width: 40px;
  height: 40px; */
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 80px 20px var(--glow-color);
}

.output {
  text-align:left;
  font-family: var(--main-font-family);
  color:white;
  margin-bottom: 30px;
}

.cursor {
  font-size: 1em;
  color: orange;
  padding: 30px;
  border-radius: 30px;
  border: 11px solid #393939;
  margin: -64px auto 0;
  background-color: black;
  }

.output p{
  font-size: 1em;
  color: orange;
  padding: 60px 20px 20px;
  min-height: : 300px;
}

button {
  border: 2px solid black;
  padding: 5px;
  background-color: lightgrey;
  color: red;
}

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: orange;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 13px;
}
p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px var(--glow-color);
  40% {box-shadow: 0 0 20px var(--glow-color);}
  60% { box-shadow: 0 0 20px var(--glow-color); }
  100% { box-shadow: 0 0 -10px var(--glow-color); }
}

@media only screen and (max-width: 480px) {
  body {
    /* background-color: black; */
  }

  .splash-box {
    width: 100%;
  }

  #hal {
    width: 100px;
    margin: 10px auto 0;
    z-index: 100;
  }
}

@-ms-viewport{
  width: device-width;
}
