body {
  background: #333;
  background-color: #f8f1eb;
  font-family: "VT323", monospace;
}

.splash-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%
}

.splash-box img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 30px; */
}

.input-field {
  margin: -8% auto 0;
  width: 150px;
  height: 70px;
  font-size: 2em;
  border: 2px solid #808081;
  border-radius: 30px;
  padding: 20px;
  background-color: #f8f1eb;
  color: #808081;
  text-align:center;
}

.inputSubmit {
  width: 150px;
  font-size: 1.5em;
  margin: 10px auto 0;
  border-radius: 30px;
  color: #808081;
  background-color: #f98f39;
  box-shadow: 0 8px 16px -3px black;
}

#hal {
  width: 100px;
  margin: 30px auto 0;
  z-index: 100;
}

.output {
  text-align:left;
  font-family: 'VT323', monospace;
  color:white;
}

.cursor {
  font-size: 30px;
  color: orange;
  padding: 30px;
  border-radius: 30px;
  border: 11px solid #393939;
  margin: -64px auto 0;
  background-color: black;
  }

.output h1{
  font-size: 30px;
  color: orange;
  padding: 60px 20px 20px;
  min-height: : 300px;
}

button {
  border: 2px solid black;
  padding: 5px;
  background-color: lightgrey;
  color: red;
}

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: orange;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 13px;
}
p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-color: black;
  }
}
@-ms-viewport{
  width: device-width;
}
